@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --leading-logo: 140%;
}

@theme {
  --color-primary: #6851ff;
  --color-primary-hover: #8b8aff;
  --color-primary-focus: #3118d6;
  --color-primary-pressed: #3d1efe;
  --color-primary-disabled: #b5b8cb;
  --color-secondary-pressed: #2511ae;
  --color-secondary-disabled: #717788;
  --color-base-300: #d6d8e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
